ion-button{
    --background: #79b68c;
    --background-hover: #7a9183;
    --border-radius: 20px;
    text-transform: lowercase;
}

ion-content{
    --background: #d8e090;
}

.title{
    color: #e8b818;
}
